-r requirements.txt
appdirs==1.4.3
bumpversion==0.5.3
flake8==3.7.9
packaging==19.2
pytest==4.6.6
pytest-cov==2.8.1
twine==1.10.0
mock==3.0.5
psycopg2-binary
sqlalchemy-redshift
pybigquery
google-cloud-bigquery-storage
pyarrow
-e .
